html, body {
	width:100%;
	color:#777777;
	background-color: #ecebeb;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Display */
.pagewrap {
     width: 960px;
     margin: 0 auto;
}


.mainsection {
	box-sizing: border-box;
	width:650px;
	float:left;
	margin-right: 39px;
	padding: 25px;
	margin-bottom: 100px;
}

.sidebar {
	box-sizing: border-box;
	width:270px;
	float:left;
	margin: 0 auto;
	padding: 25px;
}

.mainsection, .sidebar {
	margin-top: 40px;
	border: 2px solid #cccccc;
}

nav {
	padding:32px;
	clear:both;
}

#logo {
	font-size:24px;
	display:inline;
	padding:31px;
	background-color:#4aaaa5;
	color:#ffffff;
	font-weight: bold;
}

.topnav, .connect{
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow: hidden;
	display:inline;
}

ol.topnav li {
	float:right;
	padding:10px;
}

.icon {
	width:65px;
	height: 65px;
}

ol.connect li{
	display:inline-block;
}

.topnav li:nth-child(2) {
	border-left:1.7px solid #cccccc;
	border-right:1.7px solid #cccccc;
}

a {
	text-decoration: none;
}



header {
	width:100%;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;

}

footer {
	background-color: #666666;
	clear:both;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	padding:25px 0px 25px 0px;
}

.heading {
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 24px;
	font-style: bold;
}

section, aside {
	background-color: #ffffff;
	border:border: 2px solid #dddddd;
}

.container {
	margin:0 auto;
}

hr {
	border: 0;
    height: 2px;
    background: #dddddd;
}
